<div class="p-3 h-100 d-flex flex-column">
  <h3 mat-dialog-title class="text-center">{{ dialogTitle() }}</h3>

  <mat-form-field class="w-50">
    <mat-label>Name of the Watchlist</mat-label>
    <input matInput [formControl]="nameControl!" />
  </mat-form-field>
  <div class="mb-3">Add one or several tickers to the list</div>

  <div class="table-container overflow-auto mb-3">
    <app-ticker-selected-table></app-ticker-selected-table>
  </div>

  <app-add-tickers-table class="flex-grow-1"></app-add-tickers-table>

  <mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button class="me-2">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveWatchList()">Save</button>
  </mat-dialog-actions>
</div>
