<div class="p-4 max">
  <h2 class="text-center display-6 mb-3">Create Watchlist</h2>

  <mat-form-field class="w-50 mb-3">
    <mat-label>Name of the Watchlist</mat-label>
    <input matInput [formControl]="nameControl!" />
  </mat-form-field>
  <div>Add one or several tickers to the list</div>

  <div class="table-container overflow-y-auto mb-3">
    <app-ticker-selected-table></app-ticker-selected-table>
  </div>

  <app-add-tickers-table></app-add-tickers-table>

  <mat-dialog-actions align="end">
    <button mat-dialog-close type="button" class="btn btn-light me-2">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveWatchList()">Save</button>
  </mat-dialog-actions>
</div>