<div class="table-container overflow-y-auto">
  <table mat-table [dataSource]="tickersDataSource()">
    @for (column of tickersTableConfig().columnDefs; track column.key) {
      <ng-container matColumnDef="{{ column.key }}">
        <th mat-header-cell *matHeaderCellDef [ngClass]="column.class.join(' ')">{{ column.title }}</th>

        <td mat-cell *matCellDef="let element">
          @switch (column.type) {
            @case (ColumnType.ACTION) {
              <button type="button" class="btn btn-secondary btn-sm" (click)="$any(column).actionCallback?.(element)">
                {{ $any(column).actionLabel }}
              </button>
            }

            @case (ColumnType.LINK) {
              <a routerLink="/ticker-details/{{column.key}}" >{{ element[column.key] }}</a>
            }
            @default {
              {{ element[column.key] }}
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="rowDefs(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: rowDefs()"></tr>
  </table>
</div>

<mat-paginator [pageSize]="tickersTableConfig().pageSize" [hidePageSize]="true" (page)="onPageChange($event)">
</mat-paginator>
