.table-container {
  // 56px for paginator, 78px for filter
  max-height: calc(100% - 56px - 78px);
}

.ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 400px;
}
