<div class="mb-4">
  <h1>Watchlists</h1>
</div>

<div class="d-flex mb-4">
  <div class="flex-grow-1">
    <span>Lists let you group several tickers together for a quick overview of each stock.</span>
  </div>
  <div class="flex-grow-1">
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      Create a watchlist
    </button>
  </div>
</div>

<div class="watchlists-container overflow-y-auto">
  @if (loading$ | async) {
    <app-loading-indicator></app-loading-indicator>
  } @else {
    <app-error-message [errorMessage]="$watchlistsError()"></app-error-message>
    @for (watchlist of $watchlists(); track watchlist.id) {
      <app-watchlist-table [watchlist]="watchlist"></app-watchlist-table>
    }
  }
</div>
