<div class="container mt-4">
  <h2>User Profile</h2>
  <div class="card">
    <div class="card-body">
      <app-error-message [errorMessage]="$userError()"></app-error-message>
      @if ($user(); as user) {
        <h5 class="card-title">Welcome, {{ user.firstName }} {{ user.lastName }}</h5>
        <p class="card-text">Email: {{ user.email }}</p>
        <p class="card-text">First Name: {{ user.firstName }}</p>
        <p class="card-text">Last Name : {{ user.lastName }}</p>
        <p class="card-text">Roles: {{ user.roles }}</p>
      }
    </div>
  </div>
</div>
