<mat-toolbar class="p-4">
  <div class="d-flex justify-content-between w-100 align-items-baseline">
    <a routerLink="/" class="text-decoration-none">
      <div class="ms-5 text-black-50 fs-4 fst-italic">{{ title }}</div>
    </a>

    <div class="d-flex">
      @if ($user()) {
        <div class="fs-6">
          Welcome
          <a routerLink="/profile" class="me-3 text-decoration-none" aria-pressed="true">
            {{ $user()?.firstName }}
          </a>
        </div>
      }
      <app-auth></app-auth>
    </div>
  </div>
</mat-toolbar>
