<mat-toolbar class="p-4">
  <div class="d-flex justify-content-between w-100 align-items-center">
    <div class="ms-5">
      <a routerLink="/" class="text-decoration-none">
        <div class="d-flex align-items-center">
          <img class="logo-image" src="/assets/compass-icon.svg" />
          <div class="ms-2 text-muted fs-4 fst-italic">{{ title }}</div>
        </div>
      </a>
    </div>

    <div class="d-flex">
      @if ($user()) {
        <div class="fs-6">
          Welcome
          <a routerLink="/profile" class="me-3 text-decoration-none" aria-pressed="true">
            {{ $user()?.firstName }}
          </a>
        </div>
      }
      <app-auth></app-auth>
    </div>
  </div>
</mat-toolbar>
