@if (tickerDetails.value()?.result; as tickerDetails) {
  <h2 class="mb-3">{{ tickerDetails.name }} ({{ tickerDetails.symbol }})</h2>

  <div class="d-flex">
    <div class="w-50 me-3">
      @for (detail of primaryDetails(); track detail.key) {
        <div class="mb-3">
          <span class="me-3">{{ detail.key | formatKey }}:</span>
          <span>{{ detail.value }}</span>
        </div>
      }
    </div>

    <div class="w-50">
      @for (detail of secondaryDetails(); track detail.key) {
        <div class="mb-3">
          <span class="me-3">{{ detail.key | formatKey }}:</span>
          <span>{{ detail.value }}</span>
        </div>
      }
    </div>
  </div>
}
