<div class="p-4">
  <h2 class="display-6 mb-3">Create Watchlist</h2>

  <mat-form-field class="w-50 mb-2">
    <mat-label>Name of the Watchlist</mat-label>
    <input matInput [formControl]="nameControl" />
  </mat-form-field>
  <div>Add one or several tickers to the list</div>

  <table class="table">
    <tbody>
      @for (ticker of tickersSelected(); track ticker.ticker) {
        <tr>
          <th scope="row"></th>
          <td>{{ ticker.name }}</td>
          <td>{{ ticker.ticker }}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" (click)="removeTickerFromWatchList(ticker)">
              Remove
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <app-tickers-filter
    (newSearchConfig)="updateSearchConfig($event)"
    [tickersFilterConfig]="tickersFilterConfig()"
  ></app-tickers-filter>
  <app-tickers-table [searchConfig]="searchConfig$ | async" [tableConfig]="tickersTableConfig()"></app-tickers-table>

  <mat-dialog-actions align="end">
    <button mat-dialog-close type="button" class="btn btn-light me-2">Cancel</button>
    <button type="button" class="btn btn-primary">Save</button>
  </mat-dialog-actions>
</div>
