/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';

@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/maps';
@import '/node_modules/bootstrap/scss/utilities';
@import '/node_modules/bootstrap/scss/helpers';
@import '/node_modules/bootstrap/scss/utilities/api';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
}

mat-nav-list.mdc-list {
  padding: 0;
}
