<div class="mb-4">
  <div class="d-flex align-items-baseline">
    <h4 class="mb-4 me-4">{{ $watchlist()?.name }}</h4>
    <button mat-raised-button class="me-4" (click)="openEditDialog()">Edit</button>
    <button mat-raised-button (click)="openDeleteDialog()">Delete</button>
  </div>
  <table class="native-table w-100">
    <thead>
      <tr>
        <th class="w-25">Ticker</th>
        @for (column of tableColumns; track column) {
          <th>{{ column | formatKey }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (snapshot of $watchlist()?.tickerSnapshots; track snapshot.symbol) {
        <app-watchlist-table-row
          class="display-contents"
          [tickerSnapshot]="snapshot"
          [tableColumns]="tableColumns"
        ></app-watchlist-table-row>
      }
    </tbody>
  </table>
</div>
