<div class="mb-4">
  <h4 class="mb-4">{{ watchlistSignal()?.name }}</h4>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        @for (column of tableColumns; track column) {
          <th scope="col">{{ column | formatKey }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (snapshot of watchlistSignal()?.tickerSnapshotViews; track snapshot.ticker) {
        <tr>
          <td scope="row">
            <a [routerLink]="'/ticker-details/' + snapshot.ticker">{{ snapshot.ticker }}</a>
          </td>
          @for (column of tableColumns; track column) {
            <td>{{ resolveDailyBarValue(snapshot.dailyBar, column) }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
