@if ($newsResult(); as newsResult) {
  <div class="mb-5 me-3">
    <h4 class="mb-2">
      <a [href]="newsResult.articleUrl" target="_blank" class="text-decoration-none text-dark">{{
        newsResult.title
      }}</a>
    </h4>

    <div class="d-flex align-items-center">
      <div class="d-flex flex-column me-3">
        <h4 class="text-muted mb-2">{{ newsResult.publisher.name }}</h4>
        <div class="mb-2">
          By {{ newsResult.author }} - {{ newsResult.publishedUtc | date: 'medium' }}
        </div>
        <div class="mb-2 news-article">{{ newsResult.description }}</div>
        <div>
          <span>{{ newsResult.tickers.length > 1 ? 'Tickers' : 'Ticker' }} : </span>
          @for (ticker of newsResult.tickers; track ticker; let idx = $index) {
            <span>{{ idx !== newsResult.tickers.length - 1 ? ticker + ', ' : ticker }} </span>
          }
        </div>
      </div>
      <img
        [src]="newsResult.imageUrl"
        onerror="this.style.display='none'"
        class="me-3 object-fit-contain news-image"
      />
    </div>
  </div>
}
