<form [formGroup]="formGroup">
  <mat-form-field class="w-50 me-3">
    <input #searchTerm formControlName="searchTerm" matInput [placeholder]="searchPlaceholder" />
    @if (searchTerm.value) {
      <mat-icon class="clear-icon" matSuffix (click)="clearControl('searchTerm')">close</mat-icon>
    }
  </mat-form-field>

  <mat-form-field class="me-3">
    <!-- Get options from API -->
    <mat-select formControlName="type">
      <mat-option>None</mat-option>
      @for (type of tickerTypes.value()?.results; track type.code) {
        <mat-option [value]="type.code">{{ type.description }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-25">
    <input #tikcer formControlName="ticker" matInput [placeholder]="tickerPlaceholder" />
    @if (tikcer.value) {
      <mat-icon class="clear-icon" matSuffix (click)="clearControl('ticker')">close</mat-icon>
    }
  </mat-form-field>
</form>
