<form>
  @for (field of tickersFilterConfig.fields; track field) {
    @if (field === 'searchTerm') {
      <ng-container
        [ngTemplateOutlet]="searchTermTemplate"
        [ngTemplateOutletContext]="{ placeholder: searchPlaceholder }"
      ></ng-container>
    }

    @if (field === 'type') {
      <ng-container [ngTemplateOutlet]="typeTemplate"></ng-container>
    }

    @if (field === 'ticker') {
      <ng-container
        [ngTemplateOutlet]="tickerTemplate"
        [ngTemplateOutletContext]="{ placeholder: tickerPlaceholder }"
      ></ng-container>
    }
  }
</form>

<ng-template #searchTermTemplate let-placeholder="placeholder">
  <mat-form-field class="w-50 me-3">
    <input #searchTerm [formControl]="searchTermControl" matInput [placeholder]="placeholder" />
    @if (searchTerm.value) {
      <mat-icon matSuffix role="button" (click)="clearControl('searchTerm')">close</mat-icon>
    }
  </mat-form-field>
</ng-template>

<ng-template #typeTemplate>
  <mat-form-field class="me-3">
    <mat-select [formControl]="typeControl">
      <mat-option>None</mat-option>
      @for (type of $tickerTypes()?.results; track type.code) {
        <mat-option [value]="type.code">{{ type.description }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #tickerTemplate let-placeholder="placeholder">
  <mat-form-field class="w-25 me-3">
    <input #tikcer [formControl]="tickerControl" matInput [placeholder]="placeholder" />
    @if (tikcer.value) {
      <mat-icon matSuffix role="button" (click)="clearControl('ticker')">close</mat-icon>
    }
  </mat-form-field>
</ng-template>
